<div class="row productsContent">
  <div class="col-xs-12">
    <div class="page-header">
      <h4>Related Products</h4>
    </div>
  </div>
  <% products.keys.each do |taxon| %>
    <h4><%= taxon if products[taxon].present? %></h4>
    <div class="col-xs-12">
      <% products[taxon].each do |product| %>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="productBox">
            <%= link_to potepan_product_path(product.id) do %>
              <div class="productImage clearfix">
                <%= image_tag product.display_image.attachment(:product) %>
              </div>
              <div class="productCaption clearfix">
                <h5><%= product.name %></h5>
                <h3><%= product.display_price %></h3>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
