<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <!-- PLUGINS CSS STYLE -->
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <!-- GOOGLE FONT -->
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Oxygen:400,300,700', :media => "all" %>
    <%= yield :head %>
  </head>
  <body>
    <div class="main-wrapper">
      <!-- HEADER -->
      <div class="header clearfix">
        <!-- TOPBAR -->
        <%= render 'layouts/top_bar' %>
        <!-- NAVBAR -->
        <%= render 'layouts/navbar' %>
      </div>
      <%= yield %>
      <!-- FOOTER -->
      <!-- COPY RIGHT -->
      <%= render 'layouts/footer' %>
    </div>
    <%= render 'layouts/modals' %>
    <%= yield :view_modal %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
